**/*.root
libtorch/
libtorch-shared-with-deps-latest.zip
Cimplementation/build/**
Cimplementation/tracedModels/**
scripts/__pycache__
scripts/.ipynb_checkpoints/
savedModels/*
*/*.csv
*/*.log
lhcb-metainfo/
.snakemake/
__pycache__/
Data/**
Data/PyConf-create-lhcb-metadata-git-repo.lock
os_commands.py
scaler_old