plots/
calibrationPlots/
**/*.root
libtorch/
libtorch-shared-with-deps-latest.zip
Cimplementation/build/**
Cimplementation/tracedModels/**
scripts/__pycache__
scripts/.ipynb_checkpoints/
scaler/
savedModels/
csv/
*.csv
stack_v2/
Data/Database/
Data/.snakemake/
Data/moore_scripts/LFNs/**/LFN_*.txt
Data/moore_scripts/SM_lines/*
!Data/moore_scripts/SM_lines/produce_lines.py
!Data/moore_scripts/SM_lines/template.txt
*/*log
Data/daVinci_scripts/*
!Data/daVinci_scripts/template.txt
!Data/daVinci_scripts/produce_options.lhcb-metainfo
lhcb-metainfo/
.snakemake/
__pycache__/
options_SM/
output/
Data/PyConf-create-lhcb-metadata-git-repo.lock
Data/daVinci_scripts/Bu2JpsiK/output/hlt2_SM_0.dst
results/
scripts/debug/
os_commands.py