**/*.root
libtorch/
libtorch-shared-with-deps-latest.zip
Cimplementation/build/**
Cimplementation/tracedModels/**
scripts/__pycache__
scripts/.ipynb_checkpoints/
savedModels/*
**/*.csv
**/*.log
lhcb-metainfo/
.snakemake/
__pycache__/
Data/**
Data/PyConf-create-lhcb-metadata-git-repo.lock
os_commands.py
scaler_old
**/*.pdf
# Except for PDFs in the tagging_power_tables directory
!tagging_power_tables/**/*.pdf
*/DT_outputs
configs/*.yaml
test/
